/.phpunit.cache
/.phpunit.result.cache

/frontend/node_modules
/server/.phpunit.cache
/server/.phpunit.result.cache
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/vendor
/server/.env
/server/.env.*
.env.backup
.env.production
/cloudrun*.yaml
!/server/storage/app/public/registers/.gitignore
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
